// All button and some link styles
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  // To fix an issue in IE11 where buttons were escaping out of their containers if
  // they had oversized images inside them.
  max-width: 100%;
  // For <button>
  padding: 0;
  text-decoration: none;
  text-transform: inherit;
  vertical-align: top;
}

@mixin button {
  background: $colour-yellow;
  font-weight: bold;
  letter-spacing: .1em;
  min-height: 2em;
  padding: .2em .8em;
  position: relative;
}

@mixin buttonpsudo {
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
}


// __________
// > L i n k >
// ‾‾‾‾‾‾‾‾‾‾
.btn-primary {
  margin: 0 1em;
  @include button;

  &::before, &::after {
    border: solid 1em $colour-yellow;
    border-right: none;
    @include buttonpsudo;
  }

  &::before {
    border-left-color: transparent;
    left: -1em;
  }

  &::after {
    border-bottom-color: transparent;
    border-top-color: transparent;
    right: -1em;
  }

  &:hover {
    background: $colour-salmon;

    &::before {
      border-bottom-color: $colour-salmon;
      border-top-color: $colour-salmon;
    }

    &::after {
      border-left-color: $colour-salmon;
    }
  }

  &:focus {
    background: $colour-cornflower;

    &::before {
      border-bottom-color: $colour-cornflower;
      border-top-color: $colour-cornflower;
    }

    &::after {
      border-left-color: $colour-cornflower;
    }
  }
}

//  __________________
// / T a g   n a m e /
// ‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
.btn-tag {
  margin: 0 0 .3em 1em;
  @include button;

  &::before, &::after {
    border: solid 1em $colour-yellow;
    @include buttonpsudo;
  }

  &::before {
    border-bottom-width: 2em;
    border-left-color: transparent;
    border-right: none;
    border-top: none;
    left: -1em;
  }

  &::after {
    border-bottom: none;
    border-right-color: transparent;
    border-left: none;
    border-top-width: 2em;
    right: -1em;
  }

  &:hover {
    background: $colour-salmon;
    &::before { border-bottom-color: $colour-salmon; }
    &::after { border-top-color: $colour-salmon; }
  }
  &:focus {
    background: $colour-cornflower;
    &::before { border-bottom-color: $colour-cornflower; }
    &::after { border-top-color: $colour-cornflower; }
  }

}