// HTML forms
.input {
  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
  background: transparent;
  border: solid 1px $colour-black;
  border-radius: 0;
  display: block;
  max-width: 100%;
  min-height: 2em;
  min-width: 100%;
  padding: 0 .5em;
  width: 100%;
}

$depth: .1em;

%selected-star {
  text-shadow: $depth $depth 0 $colour-grey;
  transform: translate($depth * -1, $depth * -1);
}

.star-rating {
  color: $colour-grey;
  display: flex;
  flex-direction: row-reverse;
  font-size: 1.8em;
  justify-content: flex-end;

  // "Your rating"
  strong {
    color: $colour-black;
    font-size: 18px;
    margin: 0 0 0 1em;
  }

  label {
    cursor: pointer;
    line-height: .8;
    transition: all .2s ease;
    text-shadow: 0 0 0 #000;
  }

  label:hover,
  input:checked ~ label,
  input:focus ~ label {
    color: $colour-gold;
    & ~ label { color: $colour-gold; }
  }

  label:hover,
  input:focus ~ label {
    @extend %selected-star;
    & ~ label { @extend %selected-star; }
  }
}
