$font-heading-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$font-bodytext-fallback: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

$font-heading: $font-heading-fallback;
$font-etc-regular: $font-bodytext-fallback;
$font-etc-medium:  $font-bodytext-fallback;
$font-etc-bold:    $font-bodytext-fallback;
$font-etc-wide:    $font-bodytext-fallback;

$font-size-body: 18px;
$font-size-nav: 14px; // Delightful
$font-size-small: 12px; // First use: tags in blog ctas, address bottom of footer

// Just for the home page
$font-size-h-splash:  120px;
// Temp - will need to be adjusted
$font-size-h1:        2.8em;
$font-size-h2:         2.4em;
$font-size-h3:         2em;
$font-size-h4:         1.8em;
$font-size-h5:         1.6em;
$font-size-h6:         1.4em;

// Colours
$colour-deep-blue:        #02023D;
$colour-interactive-blue: #2e38ef;
$colour-muted-blue:       #daebf6;
$colour-mint:             #d7f2db;
$colour-pink:             #fee2dc;
$colour-smoke:            #f4f4f4;
$colour-white:            #fff;

// New colours
$colour-black:            #000;
$colour-grey:             #ddd;
$colour-yellow:           #F3C15E;
$colour-gold:             #D09218;
$colour-salmon:           #F3735E;
$colour-cornflower:       #7F94FF;
$colour-green:            #6C9C15;

$tint-yellow:             #FFFAF1;

// Gutter sizes
$gutter-tiny:  16px;
$gutter-small: 22px;
$gutter-base:  25px;
$gutter-medium: 1.5 * $gutter-base; // 37.5px
$gutter-large:   2  * $gutter-base; // 50px
$gutter-xlarge:  4  * $gutter-base; // 100px
$gutter-xxlarge: 6  * $gutter-base; // 150px

// http://placeimg.com
// animals architecture nature people tech